<div class="container-sidebar">

    <div class="grupo-menu">
        <div class="container-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click)="selectMenu(1)"
                [ngClass]="{'caixa-menu-select': this.menuSelecionado == 1, '':this.menuSelecionado!= 1}">
                Conta
            </div>
        </div>
    </div>

    <div class="grupo-menu">
        <div class="container-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click)="selectMenu(2)"
                [ngClass]="{'caixa-menu-select': this.menuSelecionado == 2, '':this.menuSelecionado!= 2}">
                Perfil
            </div>
        </div>
    </div>
    <div class="grupo-menu">
        <div class="container-icone-menu">
            <div class="caixa-menu caixa-menu-texto"
            (click)="selectMenu(100)"  >Sair</div>
        </div>
    </div>


</div>
