<div class="container-login">
  <div class="container-login-central">
      <div class="container-header">
          <div class="titulo-login">
              Login AdeInvest
          </div>
          <div class="info-login">
              Digite seu email e senha para logar!
          </div>
      </div>
      <div class="container-form">
          <form class="form-inputs" [formGroup]="formularioLogin" (submit)="Login()">
            <div class="group-input">
              <div class="text-info">
                  Data do Login:
              </div>
              <input class="input-form" type="date" name="dataLogin" id="dataLogin" placeholder="Data do Login"
                  formControlName="dataLogin" required="">
              <label *ngIf="formularioLogin.get('dataLogin')?.errors?.['required'] &&  formularioLogin.get('dataLogin')?.touched"
                  class="error-input">
                  Campo Obrigatório!
              </label>
          </div>
              <div class="group-input">
                  <div class="text-info">
                      Email:
                  </div>
                  <input class="input-form" type="text" name="email" id="email" placeholder="E-Mail"
                      formControlName="email" required="">
                  <label *ngIf="formularioLogin.get('email')?.errors?.['required'] &&  formularioLogin.get('email')?.touched"
                      class="error-input">
                      Campo Obrigatório!
                  </label>
              </div>
              <div class="group-input">
                  <div class="text-info">
                      Senha:
                  </div>
                  <input class="input-form" type="password" name="senha" id="senha" placeholder="Senha"
                      formControlName="senha" required="">
                  <label *ngIf="formularioLogin.get('senha')?.errors?.['required'] &&  formularioLogin.get('senha')?.touched"
                      class="error-input">
                      Campo Obrigatório!
                  </label>
              </div>
              <div class="group-input">
                  <input type="submit" class="btn-login" value="Entrar" [ngClass]="{'disabled' : !formularioLogin.valid}"
                      [disabled]="!formularioLogin.valid">
              </div>
          </form>
      </div>
  </div>
</div>
